/*Titre*/
h2 {
	font-weight: bold;
	margin: 2em 0 1em 0.5em;
}

/*Formulaire*/
#formDonhum{
	font-family: helvetica, tahoma, arial;
}

.formulaireInscriptionAssociation {
	background-color: #D8E2DC;
	border-radius: 25px;
	padding: 1em 2em 2em 2em;
	width: fit-content; 
	margin-bottom:2em;
}

.formControl{
	border-color:#FF9B54;
}

.form-control {
	border-radius: 25px;
}

label {
	margin-bottom:0.5%;
	padding-bottom:0.5%;
}

.left{
  display: inline-block;
  width:30em;
}

.clear{
  clear:both;
}

.space {
	margin-left:5em;
	float:right;
}

.desc {
	width:65em;
}

/*Boutton*/
.btn {
	background-color: #FF9B54;
	border-color: #FF9B54;
	color: #000000;
	border-radius: 25px;
}

.btn:hover {
	background-color: #FF9B54;
	border-color: #FF9B54;
	color: #ffffff; 
}

.classButtonForm {
	display:inline-block;
	background-color: #FF9B54;
	border-color: #FF9B54; 
	padding:1em 5em 1em 5em;
	margin-left: 1em;
}

.buttonAnnuler{
	margin-right:1em;
}

.buttonCreer{
	float:right;
}